[Unit]
Description=qBittorrent API's Telegram interface
Wants=network-online.target
After=network-online.target nss-lookup.target

[Service]
Type=exec
WorkingDirectory=/home/ubuntu/qbittorrent-bot
ExecStart=/home/ubuntu/qbittorrent-bot/venv/bin/python3 /home/ubuntu/qbittorrent-bot/main.py

[Install]
WantedBy=multi-user.target
